---

---

<div id="amenities" class="relative h-screen z-30 overflow-hidden">
    <div class=""></div>
    <div class=""></div>
    <div class="relative border-l border-b border-white p-6 group">
        <span class="text-xl text-white">Alberca</span>
        <div class="absolute top-0 left-0 w-full h-full -z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
            <img src="https://images.unsplash.com/photo-1602774895312-f002b8f2f33b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="" class="object-cover w-full h-full">
        </div>
    </div>
    <div class="text-white p-6">
        <h3 class="text-4xl font-semibold">Todo lo que estas buscando</h3>
        <p class="text-xl">Alia Residencial es una nueva privada, en un ambiente de tranquilidad, y con diversas amenidades que darán un plus a tu nuevo estilo de vida.</p>
    </div>
    <div class="relative border-b border-l border-t border-white p-6 group">
        <span class="text-xl text-white">Terraza Club</span>
        <div class="absolute top-0 left-0 w-full h-full -z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
            <img src="https://plus.unsplash.com/premium_photo-1673014201804-261b1066bf24?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="" class="object-cover w-full h-full">
        </div>
    </div>
    <div class="relative border-b border-l border-white p-6 group">
        <span class="text-xl text-white">Juegos Infantiles</span>
        <div class="absolute top-0 left-0 w-full h-full -z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
            <img src="https://images.unsplash.com/photo-1584470404410-60d5b8e5bfdf?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="" class="object-cover w-full h-full">
        </div>
    </div>
    <div class="relative border-t border-r border-white p-6 group">
        <span class="text-xl text-white">Gimnasio</span>
        <div class="absolute top-0 left-0 w-full h-full -z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
            <img src="https://images.unsplash.com/photo-1514994667787-b48ca37155f0?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="" class="object-cover w-full h-full">
        </div>
    </div>
    <div class="relative border-r border-white group p-6">
        <span class="text-xl text-white">Canchas Deportivas</span>
        <div class="absolute top-0 left-0 w-full h-full -z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
            <img src="https://images.unsplash.com/photo-1567220720374-a67f33b2a6b9?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="" class="object-cover w-full h-full">
        </div>
    </div>
    <div class="relative group p-6">
        <span class="text-xl text-white">Pet Park</span>
        <div class="absolute top-0 left-0 w-full h-full -z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
            <img src="https://i.pinimg.com/originals/04/65/a7/0465a737883997e446886ffb1cee04af.jpg" 
            alt="" class="object-cover w-full h-full">
        </div>
    </div>

    <div class="absolute left-0 top-0 w-full h-auto -z-30 opacity-60">
        <img src="src/assets/24A_CDM_R10_CASA_C-1.jpg" alt="">
    </div>
</div>

<style>
	#amenities {
        background: #13151a;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;/*La primer columna 350px lo demas 1 fracción */
		grid-template-rows: 1fr 1fr 1fr; /**ancho una fracción y altura automatico */
	}
</style>