---
import Logo from '../assets/Aliia_logo_blanco.png'
---
<div class="relative">
    <div>
        <div class="skewed"></div>
    </div>
    <div class="relative bg-[#13151a] flex justify-between p-4 z-10">
        <div class="w-52">
            <img src={Logo.src} alt="">
        </div>
        <div class="px-20 text-center">
            <nav class="text-white space-x-4">
                <a href="">Inicio</a>
                <a href="">Amenidades</a>
                <a href="">Modelos</a>
                <a href="">Entorno</a>
                <a href="">Ubicación</a>
            </nav>
            <div class="w-full border border-white mt-4"></div>
            <div class="text-center">
                <p class="text-sm text-neutral-300">*Imágenes y renders mostrados en este sitio son estrictamente de carácter ilustrativo. Los proyectos podrán cambiar o sufrir de modificaciones de acuerdo al desarrollador. Sujeto a cambios sin previo aviso. Consulta prototipos y amenidades disponibles con tu asesor.</p>
                <p class="text-xs text-neutral-300 mt-4">©2024 Casas Domum | Aviso de Privacidad</p>
            </div>
        </div>
    </div>
</div>

<style>
    .skewed {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("src/assets/lagos.png"); */
        background: #CFC9BD;
        z-index:0;
        transform: skewY(4deg);
        transform-origin: top right;
    }
</style>