---
import { DragCloseDrawerExample } from "./DragCloseDrawer";

import Alia from "./Alia.astro";
import Viena from "./Viena.astro";
import Milan from "./Milan.astro";
import Praga from "./Praga.astro";
import PragaAmp from "./PragaAmp.astro";
import Roma from "./Roma.astro";
import RomaAmp from "./RomaAmp.astro";
---

<div>
    <Alia />
    <Milan />
    <Praga />
    <PragaAmp />
    <Roma />
    <RomaAmp /> 
    <Viena />
</div>